<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.2.7" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.0.0-rc1-130701-b93" targetFramework="net45" />
  <package id="Microsoft.AspNet.SignalR.SelfHost" version="2.0.0-rc1-130701-b93" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.0.0-rtm-130627" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.0.0-rtm-130627" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.OwinHost" version="5.0.0-beta1-130514" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="4.0.30506.0" targetFramework="net45" />
  <package id="Microsoft.Owin" version="2.0.0-rc1-20701-431" targetFramework="net45" />
  <package id="Microsoft.Owin.Host.HttpListener" version="2.0.0-rc1-20701-431" targetFramework="net45" />
  <package id="Microsoft.Owin.Hosting" version="2.0.0-rc1-20701-431" targetFramework="net45" />
  <package id="Microsoft.Owin.Security" version="2.0.0-rc1-20701-431" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net45" />
  <package id="Owin" version="1.0" targetFramework="net45" />
</packages>